/* App.css */
.bg-orange {
  background-color: #ff6700;
}

:root {
  --bs-primary: #ff4d00; /* Bright Orange */
  --bs-secondary: #ff6700; /* Medium Orange */
  --bs-success: #ff8d00; /* Lighter Orange */
  --bs-warning: #ff9a00; /* Soft Orange */
}

/* Define a pale orange button style */
.btn-pale-orange {
  background-color: #F5B895; /* Pale orange color */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-pale-orange:hover {
  background-color: #e89b78; /* Slightly darker orange on hover */
}

footer {
  background-color: #ff4d00;
}

.text-orange {
  color: #ff6700;
}

.full-description {
  margin-top: 10px;
  border-top: 1px solid #ff6700;
  padding-top: 10px;
}
.btn-pastel-orange {
  background-color: #FFB347;
  border-color: #FFB347;
  color: #333; /* Dark text for contrast */
}

/* Add this to your App.css */
.App.dark {
  background-color: #343a40; /* Dark background */
  color: white; /* Light text color */
}

.App.dark .bg-orange {
  background-color: #ff9800; /* Example for a different color in dark mode */
}

.App.dark .btn {
  background-color: #6c757d; /* Dark button color */
}